.my-list-group {
    display: inline-block;
}
#add {
    order: -1;
}

 #track-link {
     color: black;
 }

.right .list-group-item {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.symptom-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
}

.symptom-name-container{
    margin-top: 50px;
}

.symptom-question{
    padding: 10px;
    margin-top: 10px;
}


.box {
    width: 500px;
}

.rating {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.rating input {
    display: none;
}

.rating label {
    flex-basis: 18.9%;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    color: #000;
    font-size: 20px;
}

label.none {
    background-color: #A0CD63;
    color: white;
}
label.mild {
    background-color: #FFD155;
    color: white;
}
label.med {
    background-color: #D6722E;
    color: white;
}
label.severe {
    background-color: #E74424;
    color: white;
}
.modalSize{
    max-width: 71.5%;
}

.none {
    background-color: #A0CD63;
}

.mild {
    background-color: #FFD155;
}

.med {
    background-color: #D6722E;
}

.severe {
    background-color: #E74424;
}

.symptom-list-card {
    height: 18vh;
    color: white;
    display: inline-flex;
}

.symptom-card-button {
    float: right;
}

.symptomList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.symptom-dropdown {
    margin-right: 10px;
}

#symptom-list {
    overflow: auto;
    height: 70vh;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#add-symptom-buttom {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 90px;
    padding-left: 90px;
    margin-top: 15px;
    margin-left: 20vw;
}

#symptom-dropdown {
    margin-left: 80vw;

}