.my-list-group {
    width: 50%;
    display: inline-block;
}

.left .list-group-item {
display: flex;
  padding: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#nausea,
.nausea-h1 {
    background-color: #AFD3BF;
    color: white;
}

#weight {
    background-color: #819FA3;
    opacity: 0.52;
    color: white;

}

#pain {
    background-color: #FCCE77;
    opacity: 0.91;
   color: white;
}

#add {
    background-color: #EDDECA;
    opacity: 0.92;
   color: white;
}


.right {
  float: right;
}

.left {
    float: left;
}

.right .list-group-item {
  display: flex;
  padding: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.symptom-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.symptom-name-container{
    margin-top: 50px;
}

.symptom-question{
    padding: 10px;
    margin-top: 10px;
}

.box {
    width: 500px;
}

.rating {
    position: relative;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin-bottom: 10px;
    box-sizing: border-box;
    /* background: linear-gradient(to right, #f00, #ff0, #0f0); */
}

.rating input {
    display: none;
}

.rating label {
    flex-basis: 18.9%;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    color: #000;
    font-size: 20px;
}

label.none {
    background-color: #A0CD63;
    color: white;
}
label.mild {
    background-color: #FFD155;
    color: white;
}
label.med {
    background-color: #D6722E;
    color: white;
}
label.severe {
    background-color: #E74424;
    color: white;
}


    /* .modal-content {
      width: 100%;
      margin: 30px auto;
      display: flex;
        justify-content: center;
        align-content: center;
    } */

    .modalSize{
        max-width: 71.5%;

    }

    /* .modal{
        display: flex;
        justify-content: center;
    } */

