#add-doctor-button {
    width: 150.453px;
    height: 10px;
    font-size: 16px;
}

#add-doctor-button2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.appointment-list {
    overflow: auto;
    height: 30vh;
}
.prev-appt-header {
    margin-top: 10px;
}

.appointments-section{
    height: 70vh;
}

#addAppointmentNote,
#viewAppointmentNote {
background-color: #F2C496;
opacity: 64%;
color: white;
padding-right: 10px;
padding-left: 10px;
width: 90%;
height: 90%;

}

#mic-icon,
#camera-icon,
#note-icon {
margin-right: 50px;
margin-top: 20px;
}

.imageContainer > img:hover {
width: 250px;
height: 250px;
}

.appointmentList {
    margin-left: 20vw;
    margin-top: 30px;
}

.doctor-icon {
    margin-left: 13vw;
}

#add-appointment-button{
    margin-top: 10px;
    margin-bottom: 20px;
}

#edit-appointment-button{
    width: 50px;
}

.add-edit-h1{
    font-size: 15px;
}

.add-h1{
    width: 150.453px;
    height: 10px;
    font-size: 16px;
}
